---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import FaqAcordionCard from '../components/FaqAcordionCard.astro';
---

<Layout title="FAQ accordion card">
  <main class="w-full h-full bg-gradient-to-b from-soft-violet to-soft-blue">
    <FaqAcordionCard />
  </main>
	<Footer profileName="JuanPabloG96" link='https://github.com/JuanPabloG96'>
</Layout>